@use '/src/styles/constants/colors';

.inputBox {
  display: flex;

  .labelContainer {
    min-width: 60px;

    label {
      height: 30px;
      line-height: 30px;
    }
  }

  input {
    padding: 5px 10px;
    margin-right: 10px;
    margin-left: 12px;
    text-align: center;
    border: 1px solid colors.$BORDER;
    border-radius: 8px;
  }
}
