@use '/src/styles/constants/colors';

.inputBox {
  display: flex;
  height: 40px;

  .labelContainer {
    min-width: 60px;

    label {
      height: 30px;
      line-height: 30px;
    }
  }

  input {
    height: 34px;
    padding: 5px 10px;
    margin-right: 12px;
    margin-left: 12px;
    text-align: center;
    border: 1px solid colors.$BORDER;
    border-radius: 8px;

    &::placeholder {
      text-align: center;
    }

    &:focus::placeholder {
      color: colors.$BG_G;
    }
  }

  span {
    width: 16px;
    line-height: 32px;
  }
}
