@use '/src/styles/constants/colors';

.inputBox {
  display: flex;

  .labelContainer {
    min-width: 60px;

    label {
      width: 25px;
      height: 26px;
      line-height: 26px;
    }
  }

  input {
    width: 144px;
    height: 26px;
    padding: 5px;
    margin-right: 10px;
    margin-left: 12px;
    text-align: center;
    border: 1px solid colors.$BORDER;
    border-radius: 8px;
  }
}
