@use '/src/styles/constants/colors';

.loginInput {
  width: 100%;
  height: 70px;
  padding: 20px 40px;
  margin: 12px 0;
  font-weight: 600;
  color: colors.$TEXT_PRIMARY;
  letter-spacing: 0.5px;
  background: colors.$BG_WHITE;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 5%);

  &::placeholder {
    font-weight: 600;
    color: colors.$TEXT_SECONDARY;
  }

  &_warning {
    border: 1px solid colors.$TEXT_RED;
  }
}
