@use '/src/styles/constants/colors';
@use '/src/styles/mixins/container';

.subNav {
  @include container.subNav;

  button {
    all: unset;
    cursor: pointer;
  }
}

.title {
  @include container.title;
}

.manageDetailContainer {
  @include container.container;
}

.userInfoContainer {
  margin-bottom: 6px;

  .userInfo {
    display: flex;
    margin-bottom: 6px;

    .login {
      flex-grow: 1;
    }

    .userNumber {
      flex-grow: 1;
    }
  }
}

.chartContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}
