@use '/src/styles/constants/colors';
@use '/src/styles/mixins/container';

.subNav {
  @include container.subNav;

  button {
    all: unset;
    cursor: pointer;
  }
}

.title {
  @include container.title;
}

.manageDetailContainer {
  @include container.container;
}

.userInfoContainer {
  width: 813px;
  margin-bottom: 6px;

  .userInfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
  }
}
