@use '/src/styles/constants/colors';
@use '/src/styles/mixins/container';

.subNav {
  @include container.subNav;
}

.title {
  @include container.title;
}

.subTitle {
  margin-bottom: 30px;
}

.search {
  @include container.container;

  .member {
    display: flex;
    margin-bottom: 40px;

    .login {
      flex-grow: 1;
    }

    .memberNum {
      flex-grow: 1;
    }
  }

  .period {
    display: flex;

    button {
      margin-top: 8px;
      margin-left: 6px;
    }

    span {
      margin: 0 10px;
    }

    input:last-of-type {
      margin: 0;
    }
    margin-bottom: 40px;
  }

  .searchButtons {
    display: flex;
    justify-content: flex-end;
    margin: 0;

    button {
      margin-left: 10px;
    }
  }
}

.table {
  @include container.container;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;

  thead {
    tr {
      background-color: colors.$BG_ASIDE;
    }
  }
}

tr {
  height: 50px;
  line-height: 50px;
}
