@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.heartRate {
  width: 540px;
  margin-top: 32px;

  .chartWrap {
    margin-bottom: 20px;
    background-color: colors.$GRAY2;
    border-radius: 12px;
  }

  .rangeWrap {
    padding: 24px;
    margin: 0 40px;
    background-color: colors.$BG_ASIDE;
    border-radius: 12px;
  }

  dl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12 20px;
    margin-bottom: 30px;

    div {
      @include flexbox.flexbox('between');
    }
  }

  .buttonsWrap {
    @include flexbox.flexbox('end');

    * {
      margin-left: 4px;
    }
  }
}
